html, body {
    height: 100%;
   
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    border: 0px solid blue;
}
div.main{
    text-align: center;
    margin-right: auto; 
    margin-top: 100px;
    width:100%;
    height: auto;
    float: left;
    
}

div.a {
    padding: 20px;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */

@media only screen and (min-width: 901px) {
  div.main{
    font-size: 800px;
      color:yellow;
      animation: sample1 60000ms infinite forwards;
      
  }
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 900px) {
  div.main {
    font-size: 800px;
      color:yellow;
      animation: sample1 30000ms infinite forwards;
      animation-delay: 2s;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 800px) {
  div.main {
    font-size: 800px;
      color:yellow;
      animation: sample1 20000ms infinite forwards;
  }
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 600px) {
  div.main {
    font-size: 700px;
      color:yellow;
          animation: sample1 6000ms infinite forwards;
  }
}


div.main { 
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    line-height: 100%;
    word-wrap: normal;

}






@font-face {
            font-family: "test";
            src: url(stickerv2.ttf);
        }

@keyframes sample1 {
            

0% {
                font-variation-settings: 'stck'0;
                
            }
    
    
10% {
                font-variation-settings: 'stck' 100;
                
            }
40% {
                font-variation-settings: 'stck' 250;
            }
    
60% {
                  font-variation-settings:  'stck'500;
              }
    
                  
80% {
                  font-variation-settings:  'stck'250;
              }
    
    
100% {
                  font-variation-settings:  'stck'0;
    }
}

        #sample1 {
            font-family: "test";
            animation: sample1 10000ms infinite forwards;
           
        }




