
a:link{
    color: blue;
    text-decoration: none; 
}

a:visited{
    color: white;
    text-decoration: none; 
}

a:hover{
    color: blue;
    text-decoration: none; 
}

a:active{
    color: blue;
    text-decoration: none; 
}

* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}




/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a1 {
    font-size: 200px;
      color:blue;
      
  }
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a1 {
    font-size: 150px;
      color:blue;
  }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a1 {
    font-size: 120px;
      color:blue;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a1 {
    font-size: 90px;
      color:blue;
  }
}

div.a1 { 
    padding: 0px;
    text-align: center;
    margin-top: auto;
    line-height: 100%;
    word-wrap: normal;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a2 {
    font-size: 200px;
      color:blue;
      
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a2 {
    font-size: 150px;
       color:white;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a2 {
    font-size: 120px;
       color:black;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a2 {
    font-size: 90px;
       color:black;
  }
}


div.a2 { 
    padding: 0px;
    text-align: center;
    margin-top: auto;
    line-height: 100%;
    word-wrap: normal;
    
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a3 {
    font-size: 60px;
      color:blue;
      
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a3 {
    font-size: 40px;
       color:white;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a3 {
    font-size: 30px;
       color:black;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a3 {
    font-size: 20px;
       color:black;
  }
}

div.a3 { 

    text-align: left;
    margin-top: auto;
    margin-left: 20px;
    line-height: 100%;
    margin-bottom:auto;
    word-wrap: normal;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a4 {
    font-size: 200px;
    color:blue;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a4 {
    font-size: 140px;
      color:white;
       
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a4 {
    font-size: 120px;
      color:black;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a4 {
    font-size: 90px;
      color:black;
  }
}

div.a4 { 
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    line-height: 90%;
    word-wrap: normal;
}




/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a5 {
    font-size: 60px;
      color:blue;
   
    
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a5 {
    font-size: 40px;
       color:white;
           
    
  }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a5 {
    font-size: 30px;
       color:black;
       
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a5 {
    font-size: 20px;
       color:black;
         
  }
}



div.a5 { 
    padding: 0px;
    text-align: left;
    margin-bottom: auto;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 80%;
    word-wrap: normal;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 901px) {
  div.a6 {
    font-size: 60px;
      color:blue;
      word-wrap: normal;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 900px) {
  div.a6 {
    font-size: 40px;
       color:white;
  }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 800px) {
  div.a6 {
    font-size: 30px;
       color:black;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.a6 {
    font-size: 20px;
       color:black;
  }
}



div.a6 { 
    padding: 0px;
    text-align: left;
    line-height: 80%;
    margin-bottom: 0px;
    margin-left: 20px;
    word-wrap: normal;
}





/* Animaties Font */

@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample1 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 400, 'rglr' 0 , 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'0, 'wdth' 300, 'rglr' 700 , 'blck' 0 ;
            }
              
    50% {
                  font-variation-settings:  'gltc'0, 'wdth' 0, 'rglr' 1000 , 'blck' 0 ;
              }
            70% {
                  font-variation-settings:  'gltc' 0, 'wdth' 0, 'rglr' 1000 , 'blck' 0 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'0, 'wdth' 200, 'rglr' 200 , 'blck' 0 ;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 400, 'rglr' 0 , 'blck' 0 ;
            }
        }

        #sample1 {
            font-family: "Sam Variable";
            animation: sample1 50000ms infinite forwards;
            
        }


@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample2 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 0, 'blck'1000, 'rglr' 1000 ;
                
            }
  20% {
                font-variation-settings:  'gltc'0, 'wdth' 0, 'blck' 800, 'rglr' 50;
            }
              
    50% {
                  font-variation-settings:  'gltc'0, 'wdth' 0, 'blck' 0, 'rglr' 0;
              }
            70% {
                  font-variation-settings:  'gltc' 0, 'wdth' 0, 'blck' 400, 'rglr' 00 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'0, 'wdth' 0, 'blck' 800, 'rglr' 50;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'blck' 1000, 'rglr' 1000;
            }
        }

        #sample2 {
            font-family: "Sam Variable";
            animation: sample2 40000ms infinite forwards;
         
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample3 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 0, 'rglr'1000 ;
                
            }
  20% {
                font-variation-settings:  'gltc'0, 'wdth' 200, 'rglr' 200;
            }
              
    50% {
                  font-variation-settings:  'gltc'0, 'wdth' 400, 'rglr' 000;
              }
            70% {
                  font-variation-settings:  'gltc' 0, 'wdth' 400, 'rglr' 000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'0, 'wdth' 100, 'rglr' 400;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'rglr' 1000;
            }
        }

        #sample3 {
            font-family: "Sam Variable";
            animation: sample3 60000ms infinite forwards;
     
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample4 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 100, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc' 200, 'wdth' 200, 'rglr' 0, 'blck' 0;
            }
              
    50% {
                  font-variation-settings:  'gltc'1000, 'wdth' 300, 'rglr' 0, 'blck' 0;
              }
            70% {
                  font-variation-settings:  'gltc' 1000, 'wdth' 200, 'rglr' 0, 'blck' 00 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'600, 'wdth' 100, 'rglr' 0, 'blck' 0;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'rglr' 0, 'blck' 0;
            }
        }

        #sample4 {
            font-family: "Sam Variable";
            animation: sample4 50000ms infinite forwards;
            
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample5 {
            0% {
                font-variation-settings: 'gltc'1000, 'wdth' 0, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'800, 'wdth' 600, 'rglr' 50, 'blck' 00;
            }
              
    50% {
                  font-variation-settings:  'gltc'400, 'wdth' 800, 'rglr' 100, 'blck' 0;
              }
            70% {
                  font-variation-settings:  'gltc' 600, 'wdth' 800, 'rglr' 100, 'blck' 0 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'400, 'wdth' 30, 'rglr' 50, 'blck' 0;
              }
              

            100% {
                font-variation-settings:   'gltc' 1000, 'wdth' 0, 'rglr' 0, 'blck' 0;
            }
        }

        #sample5 {
            font-family: "Sam Variable";
            animation: sample5 45000ms infinite forwards;
       
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample6 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 0, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'0, 'wdth' 0, 'rglr' 400, 'blck' 400;
            }
              
    50% {
                  font-variation-settings:  'gltc'0, 'wdth' 0, 'rglr' 1000, 'blck' 1000;
              }
            70% {
                  font-variation-settings:  'gltc' 0, 'wdth' 0, 'rglr' 1000, 'blck' 1000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'0, 'wdth' 0, 'rglr' 500, 'blck' 500;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'rglr' 0, 'blck' 0;
            }
        }

        #sample6 {
            font-family: "Sam Variable";
            animation: sample6 4000ms infinite forwards;
            
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample7 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 0, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'300, 'wdth' 0, 'rglr' 400, 'blck' 00;
            }
              
    50% {
                  font-variation-settings:  'gltc'400, 'wdth' 0, 'rglr' 1000, 'blck' 0;
              }
            70% {
                  font-variation-settings:  'gltc' 400, 'wdth' 0, 'rglr' 1000, 'blck' 000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'300, 'wdth' 0, 'rglr' 500, 'blck' 00;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'rglr' 0, 'blck' 0;
            }
        }

        #sample7 {
            font-family: "Sam Variable";
            animation: sample7 40000ms infinite forwards;
            
        }


@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample8 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 0, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'00, 'wdth' 0, 'rglr' 00, 'blck' 400;
            }
              
    50% {
                  font-variation-settings:  'gltc'00, 'wdth' 0, 'rglr' 000, 'blck' 1000;
              }
            70% {
                  font-variation-settings:  'gltc' 00, 'wdth' 0, 'rglr' 00, 'blck' 10000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'300, 'wdth' 0, 'rglr' 00, 'blck' 800;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 0, 'rglr' 0, 'blck' 0;
            }
        }

        #sample8 {
            font-family: "Sam Variable";
            animation: sample8 40000ms infinite forwards;
        
        }



@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample9 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 300, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc'00, 'wdth' 100, 'rglr' 200, 'blck' 00;
            }
              
    50% {
                  font-variation-settings:  'gltc'00, 'wdth' 0, 'rglr' 400, 'blck' 00;
              }
            70% {
                  font-variation-settings:  'gltc' 00, 'wdth' 0, 'rglr' 400, 'blck' 000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc'00, 'wdth' 100, 'rglr' 200, 'blck' 00;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 300, 'rglr' 0, 'blck' 0;
            }
        }

        #sample9 {
            font-family: "Sam Variable";
            animation: sample9 50000ms infinite forwards;
    
        }


@font-face {
            font-family: "Sam Variable";
            src: url(sam.variabel.ttf);
        }

@keyframes sample10 {
            0% {
                font-variation-settings: 'gltc'0, 'wdth' 00, 'rglr'0, 'blck' 0 ;
                
            }
  20% {
                font-variation-settings:  'gltc' 300, 'wdth' 400, 'rglr' 100, 'blck' 00;
            }
              
    50% {
                  font-variation-settings:  'gltc' 600, 'wdth' 500, 'rglr' 200, 'blck' 00;
              }
            70% {
                  font-variation-settings:  'gltc' 600, 'wdth' 500, 'rglr' 200, 'blck' 000 ;
              }

              
              80% {
                  font-variation-settings:  'gltc' 500, 'wdth' 300, 'rglr' 100, 'blck' 00;
              }
              

            100% {
                font-variation-settings:   'gltc' 0, 'wdth' 00, 'rglr' 0, 'blck' 0;
            }
        }

        #sample10 {
            font-family: "Sam Variable";
            animation: sample10 38000ms infinite forwards;
      
        }



