<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>alphabetical</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>category</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>unicode</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>script</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>suffix</string>
      </dict>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>decompositionBase</string>
      </dict>
    </array>
    <key>com.letterror.mathshape.designspace</key>
    <string>twobytwo</string>
    <key>com.letterror.mathshape.preview.bgcolor</key>
    <array>
      <real>0.01680417731</real>
      <real>0.1983509958</real>
      <real>1.0</real>
      <real>1.0</real>
    </array>
    <key>com.letterror.mathshape.preview.shapecolor</key>
    <array>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <real>0.5</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>5123528400</string>
    <key>public.glyphOrder</key>
    <array>
      <string>narrow-bold</string>
      <string>narrow-thin</string>
      <string>wide-bold</string>
      <string>wide-thin</string>
      <string>narrow-bold.2</string>
      <string>narrow-thin.2</string>
      <string>wide-bold.2</string>
      <string>wide-thin.2</string>
      <string>narrow-bold.3</string>
      <string>narrow-thin.3</string>
      <string>wide-thin.3</string>
      <string>wide.bold.3</string>
    </array>
  </dict>
</plist>
