<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.letterror.mathshape.designspace</key>
    <string>twobytwo</string>
    <key>com.letterror.mathshape.preview.bgcolor</key>
    <array>
      <real>0.5818830132</real>
      <real>0.2156915367</real>
      <real>1.0</real>
      <real>1.0</real>
    </array>
    <key>com.letterror.mathshape.preview.shapecolor</key>
    <array>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <real>0.5</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>5123528400</string>
    <key>public.glyphOrder</key>
    <array>
      <string>narrow-thin</string>
      <string>wide-thin</string>
      <string>narrow-bold</string>
      <string>wide-bold</string>
    </array>
  </dict>
</plist>
